.RadioGroup__label {
  color: var(--dark-grayish-cyan);
  margin-bottom: 16px;
  font-size: 16px;
}

.RadioGroup__radios {
  display: grid;
  column-gap: 14px;
  row-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(117px, 1fr));
}

.RadioGroup__radio {
  display: block;
  cursor: pointer;
  color: var(--white);
}

.RadioGroup__input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.RadioGroup__radio-button {
  height: 48px;
  border-radius: 5px;
  background-color: var(--very-dark-cyan);
  display: flex;
  place-content: center;
  place-items: center;
  transition: background-color var(--transition);
}

.RadioGroup__input:checked + .RadioGroup__radio-button {
  background-color: var(--strong-cyan);
}

.RadioGroup__radio-button:hover,
.RadioGroup__input:focus + .RadioGroup__radio-button {
  background-color: var(--soft-cyan);
}
