@font-face {
  font-family: 'Space Mono';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/SpaceMono-Bold.woff2') format('woff2'),
    url('./assets/fonts/SpaceMono-Bold.woff') format('woff');
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Space Mono', sans-serif;
  line-height: 1.5;
  font-weight: 700;
  font-size: 24px;

  color: var(--strong-cyan);
  background-color: var(--light-grayish-cyan);

  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --icon-cyan: hsl(184, 19%, 68%);
  --logo-icon-cyan: hsl(180, 25%, 32%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --very-light-grayish-cyan-2: hsl(185, 38%, 97%);
  --white: hsl(0, 0%, 100%);
  --orange: hsl(13, 70%, 60%);

  --transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
  min-width: 375px;
  min-height: 100vh;
  display: flex;
  place-content: center;
  place-items: center;
}
